@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  :root {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: normal;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
